*{
	margin: 0;
	padding: 0;
	font-family: arial;
	box-sizing: border-box;	
}

body{
	display:flex;
	flex-flow:column nowrap;
	justify-content: space-between;
	align-items: stretch;	

	background-size: cover;
	background-image: url('../img/woman-3597101_1920.jpg');
	background-attachment: fixed;
	background-position: center;	
	background-repeat: no-repeat;
}

.header{
	flex:1 5 auto;
	align-self: auto;

	top:0;
	position: sticky;
}
	.container{
		display:flex;
		flex-flow:row nowrap;
	}
	.item:nth-child(1){
		flex:1 1 auto;
		align-self: center;
		display:flex;
		justify-content: center;
	}
		.logo-item{
			width:auto;
			height:100px;
			align-self:center;
		}

	.item:nth-child(2){
		flex:6 1 auto;
		align-self: center;
	}
		.menu{}
			.nav-menu{
				display:flex; 
				flex-flow:row nowrap;
			}
				.nav-item{
					padding: 10px;
					flex:1 1 auto; 
					align-self: center;
					list-style: none;
					text-align: center;
				}
				.nav-item:hover{
					background-color:rgba(0,0,0,.5);
				}
				.nav-link{
					color:rgba(255,255,255,1);
					text-decoration:none;
				}

	.item:nth-child(3){
		flex:1 1 auto;
		align-self: center;
	}
		.reloco{
			padding:20px;
			color:rgba(255,255,0,1);
		}

.subheader{
	width:90%;
	height: 60vh;

	display:flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
}
	.rows{
		flex:auto; 
		align-self: center;

		display:flex; 
		flex-flow:column nowrap;
		align-items: flex-end;
	}
		.welcome{
			flex:1 0 auto;
			align-self:center;

			padding:10px;
			color:rgba(255,255,255,1);
		}
		.misitio{
			flex:1 1 auto;
			align-self: center;

			padding:10px;
			text-align: center;
			line-height: 1.5rem;
			color:rgba(255,255,255,.8);
		}

.section{
	max-width: 100%;
	background-color:rgba(255,255,255,1);

	display:flex;
	flex-flow: column nowrap;
}
	.servicios{
		padding:30px;
		display:flex;
		flex-flow:row nowrap;

		background-color:rgba(255,255,255,1);
	}
		.row{			
			flex:auto; 
			align-self: flex-start;

			display:flex; 
			flex-flow:column nowrap;

			margin:20px;
			border:3px solid rgba(150,150,150,.5);
		}
			.imagen{
				width:auto;
				height:40vh;
			}
			.titulo2{
				padding:10px;
				font-weight: 600;
				text-align: center;
			}
			.center{
				padding:10px;
				font-size:1em;
				line-height: 2rem;
				text-align: center;
			}

.contacto{
	padding:30px;
	background-color:rgba(0,0,0,.2) !important;
	background-image: url('../img/tablet-791050_1280.jpg');
	background-attachment: fixed;
	background-position: center;
	background-size:cover;
	background-repeat: no-repeat;

	display:flex;
	flex-flow: row nowrap;
	align-content: center;
}
	.column:nth-child(1){
		flex:1 1 auto;
		align-self: auto;

		margin:10px;
		padding:30px;
		line-height: 1.5em;
		background-color:rgba(0,0,0,.1);
		border-style: 3px solid rgba(160,160,160,1);

		display:flex;
		flex-flow: row nowrap;
	}
		.form-form{
			padding:20px;
			display: flex;
			flex-flow: column nowrap;
			justify-content: space-between;
		}
			.form-input{
				padding:10px;
				border-radius:7px;
				color:none;
			}
	.column:nth-child(2){
		flex:1 1 auto;
		align-self: auto;
		margin:10px;

		border-style: 7px solid rgba(160,160,160,1);
	}

.footer{
	bottom:0;
	padding:20px;
	background:rgba(0,0,0,1);

	display:flex;
	flex-flow:row nowrap;

	border-style: 2px solid white;
}
	.row2{
		padding:10px;
		line-height: 2em;

		flex:1 1 auto; 
		display:flex; 
		flex-flow:column nowrap;
		justify-content: space-between;
	}
	.row2:last-child{
		flex-flow:row nowrap;
	}
		.datos{
			color:rgba(255,255,200,1);

			flex:1 1 auto;
			align-self: stretch;
		}
		.social{
			margin:auto;
			flex:1 0 auto; 
			align-self: center;
		}

/*

@media only screen and (max-width:480px){
	.nav-item ul a{
		padding-left:2rem;
		}
	.nav-item ul .nav-item ul a{
		padding-left:3rem;
	}
}

@media only screen and (min-width:480px){
	nav ul{
		flex-direction:row;
	/*     justify-content:flex-end; 
	}

	nav ul li{
		position:relative;
		flex:1 0 auto;
		text-align:left;
	}
	
	.nav-item ul, .nav-item ul .nav-item ul{
		display:none;
		width:100%;
		position:absolute;
	}
	
	.nav-item ul .nav-item ul{
		left:100%;
		top:0;
	}
	
	nav ul li:hover ul,  .nav-item ul .nav-item:hover ul{
		display:flex;
		flex-direction:column;
	}
}