.wrapper{
	display:flex;
	flex-flow:column nowrap;
	justify-content: center;
	align-content: center;
}

/* Sección Inicio */
#inicio{
	height: 80vh;
	background-image:url('../img/woman-3597101_1920.jpg');
	background-position: center; 
	background-repeat:no-repeat;
	background-size:cover; 
	background-attachment: fixed;

	display: flex;
	justify-content: center;
}
.contenedor{
	width:80%;

	display:flex;
	flex-flow:column nowrap;
	justify-content: center;
	align-content: center;
}
.welcome{
	align-self: center;

	font-size:3em;
	color:rgba(97,221,55,1);
}
.center{
	align-self: center;

	font-size:1.3em;
	line-height: 1.2em;
	text-align: center;
	color:rgba(255,255,255,1);
}

/* Sección Servicios */
.article{	
	display:flex;
	flex-flow:row nowrap;
	justify-content: center;
	align-content: center;

	margin:20px;
	padding: 20px;
}
.aside{
	flex:1 1 auto;
	align-self: stretch;

	height: 400px;
	margin:15px;
	border:3px solid rgba(100,100,100,.5);
}
.centrado{
	color:rgba(21,36,41,1);
}
.aside:nth-child(1){
	background-image:url('../img/technology-791029_640.jpg');
	background-position: top; 
	background-repeat:no-repeat;
	background-size:100%; 
	background-attachment: scroll;

	display:flex;
	flex-flow:column nowrap;
	justify-content: flex-end;
}
.aside:nth-child(2){
	background-image:url('../img/editing-1756958_640.jpg');
	background-position: top; 
	background-repeat:no-repeat;
	background-size:100%; 
	background-attachment: scroll;

	display:flex;
	flex-flow:column nowrap;
	justify-content: flex-end;
}
.aside:nth-child(3){
	background-image:url('../img/books-2158737_640.jpg');
	background-position: top; 
	background-repeat:no-repeat;
	background-size:100% 65%; 
	background-attachment: scroll;

	display:flex;
	flex-flow:column nowrap;
	justify-content: flex-end;
}
.row{
	padding:20px;
	line-height: 2em;
	text-align: center;

	flex:0 1 auto;
	align-self: flex-end;
}

/* Sección Contacto */
.section2{
	height: 90vh;
	background-image: url('../img/tablet-791050_1280.jpg');
	background-attachment: fixed;
	background-position: center;
	background-size:cover;
	background-repeat: no-repeat;

	display:flex;
	justify-content: center;
}
.article1{
	display:flex;
	flex-flow:row nowrap;
	justify-content: center;
	align-content: center;
}
.axide:nth-child(1){
	margin-right:20px;
	flex:1 0 auto;
	align-self: center;

	background-color:rgba(0,0,0,.5);
}
.axide:nth-child(2){
	flex:1 0 auto;
	align-self: center;
}
.title-form{
	padding:10px;
	font-size:2em;
	text-align: center;
	color:rgba(221,98,37,1);
}
.form-form{
	padding:10px;

	display:flex;
	flex-flow:column nowrap;
	justify-content: space-around;
	align-content: stretch;
}
.form-input, .form-button{
	margin:10px;
	padding:5px;

	flex:auto;
	align-self: stretch;
}
.form-button{
	font-size:1.3em;
	border-style:none;
	color:rgba(255,255,240,1);
	background-color:rgba(97,119,210,1);
}

/*

@media only screen and (max-width:480px){
	.nav-item ul a{
		padding-left:2rem;
		}
	.nav-item ul .nav-item ul a{
		padding-left:3rem;
	}
}

@media only screen and (min-width:480px){
	nav ul{
		flex-direction:row;
	/*     justify-content:flex-end; 
	}

	nav ul li{
		position:relative;
		flex:1 0 auto;
		text-align:left;
	}
	
	.nav-item ul, .nav-item ul .nav-item ul{
		display:none;
		width:100%;
		position:absolute;
	}
	
	.nav-item ul .nav-item ul{
		left:100%;
		top:0;
	}
	
	nav ul li:hover ul,  .nav-item ul .nav-item:hover ul{
		display:flex;
		flex-direction:column;
	}
}