*{
	margin: 0;
	padding: 0;
	font-family: arial;
	box-sizing: border-box;	
}

body{
	display:flex;
	flex-flow:column nowrap;
	justify-content: center;
	align-content: stretch;
}

.header{
	height:30vh;
	background-color:rgba(255,255,255,1);

	display:flex;
	justify-content: center;
}
	.container{
		display:flex;

		margin:20px;
		align-content: center;
	}
	.container > a{
		text-decoration: none;
	}
	.logo{
		width: auto;
		height:150px;
		flex:auto;
		align-self: center;
	}

/* Menú */
.menu{
	display:flex;
	justify-content: center;
	background-color:rgba(20,22,24,1);
}
	.nav-menu{
		display:flex;
		flex-flow:row nowrap;
		justify-content: space-around;
		align-content: center;
	}
	.nav-item{
		margin:7px;
		list-style: none;
		text-align: center;

		flex:1 1 auto;
		align-self: stretch;
	}
	.nav-item:hover{
		background-color:rgba(228,236,241,1);
	}
	.nav-link{
		padding:10px;
		line-height: 2em;
		color:rgba(255,255,255,1);
		text-decoration:none;
		text-transform: uppercase;		
	}
	.nav-link:hover{
		color:rgba(20,22,24,1);
	}

/* Secciones */
.section{
	flex:auto;
	align-self:stretch;

	display:flex;
	flex-flow:row nowrap;
}

/* Pie de Página */
.footer{
	bottom:0;
	padding:10px;
	background:rgba(22,36,41,1);

	display:flex;
	flex-flow:row nowrap;
	justify-content: space-around;
	align-content: stretch;
}
	.artikle:nth-child(1){
		margin:20px;
		flex:0 0 auto;
		align-self: center;
	}
		.datos{
			line-height: 1.8em;
			color:rgba(235,255,235,1);
		}
	.artikle:nth-child(2){
		margin:20px;

		display:flex;
		flex-flow:column nowrap;
		justify-content: center;
		align-content: stretch;
	}
		.reloco{
			display:flex;
			justify-content: center;
		}
		#reloj{
			flex:2 0 auto;
			align-self: center;
			
			padding:10px;
			text-align: center;
			color:rgba(255,255,0,1);
		}
		.contador{
			padding:10px;
			line-height: 1.2em;
		}
	.artikle:nth-child(3){
		margin:20px;

		display:flex;
		flex-flow: row nowrap;
	}
		.social{
			margin:15px;
			flex:1 1 auto;
			align-self: center;
		}