.section{
	padding:20px;

	flex:2 1 auto;
	align-self: auto;
}

.aside{
	flex:1 1 auto;
	align-self: auto;
}

p{
	text-align: justify;
}

.wrapper{
	display:flex;
	flex-flow:row nowrap;
	justify-content: center;
	align-content: center;
}